* {
    margin-bottom: 30px
}

h1 {
    color: red;
    background-color: yellow;

    text-align: center;
    border: 10px solid black;

    padding-top: 20px;
    padding-bottom: 20px;
}

.projects{
    background-color: lightblue;
}

#rainyday{
    color:darkgreen;
}